<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.employeeapi.testcases.TC01_GetAllEmployees"/>
      <class name="com.employeeapi.testcases.TC02_Get_Single_Employees_Record"/>
      <class name="com.employeeapi.testcases.TC03_PostNewEmployee"/>
      <class name="com.employeeapi.testcases.TC04_Put_Employee"/>
       <class name="com.employeeapi.testcases.TC05_Delete_Employee_Record"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
